.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  
.upcoming-events {
  display: grid;
  margin: auto;
  flex-wrap: wrap;
  background: url('./Images/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: row;
 
  .upev-title {
    text-align: center;
    text-transform: uppercase;
    display: grid;
    max-width: 1280px;
    margin: auto;


    &:after {
      content: '___________';
      color: black;
    }
  }

  .upev-carousel.wrap {
    display: flex;
    max-width: 1280px;
    margin: auto;
    padding: 2rem 0;

    .upev-carousel-item {
      width: 250px;
      background-color: white;
      margin-right: 1rem;
      margin-bottom: 1rem;

      .upev-item {
        padding: 1rem;
        
        .upev-item-image {
          position: relative;

          .item-image {
            width: 100%;
            height: 150px;
          }

          .item-date {
            display: grid;
            position: absolute;
            bottom: 0;
            left: 15px;
            color: #ECAE3D;
            background-color: white;

            .date {
              text-align: center;
              padding: 10px 0 5px 0;
              font-weight: 900;
              font-size: larger;
            }

            .month-year {
              font-size: small;
              padding: 0 5px 5px 5px;
            }
          }
        }

        .upev-item-description {
          .item-title {
            text-transform: uppercase;
            font-size: large;
          }

          .item-author {
            display: flex;
            font-size: small;
            color: #b9b9b9;
            > span {
              margin-right: 2rem;
            }
          }

          .item-detail {
            word-wrap: break-word;
            color: #7e7979;
          }
        }
      }
    }
  }
}
/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (min-width: 768px) { 
  .upcoming-events {
    .upev-carousel {
      justify-content: center;
    }
  }
}
@media (max-width: 768px) {
  .upcoming-events {
    .upev-carousel {
      flex-direction: column;
      
      .upev-carousel-item {
        margin-bottom: 1rem;
        margin-right: 0rem;
      }
    }
  }
}

