.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.upcoming-events {
  display: -ms-grid;
  display: grid;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: url("./Images/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.upcoming-events .upev-title {
  text-align: center;
  text-transform: uppercase;
  display: -ms-grid;
  display: grid;
  max-width: 1280px;
  margin: auto;
}

.upcoming-events .upev-title:after {
  content: '___________';
  color: black;
}

.upcoming-events .upev-carousel.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1280px;
  margin: auto;
  padding: 2rem 0;
}

.upcoming-events .upev-carousel.wrap .upev-carousel-item {
  width: 250px;
  background-color: white;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.upcoming-events .upev-carousel.wrap .upev-carousel-item .upev-item {
  padding: 1rem;
}

.upcoming-events .upev-carousel.wrap .upev-carousel-item .upev-item .upev-item-image {
  position: relative;
}

.upcoming-events .upev-carousel.wrap .upev-carousel-item .upev-item .upev-item-image .item-image {
  width: 100%;
  height: 150px;
}

.upcoming-events .upev-carousel.wrap .upev-carousel-item .upev-item .upev-item-image .item-date {
  display: -ms-grid;
  display: grid;
  position: absolute;
  bottom: 0;
  left: 15px;
  color: #ECAE3D;
  background-color: white;
}

.upcoming-events .upev-carousel.wrap .upev-carousel-item .upev-item .upev-item-image .item-date .date {
  text-align: center;
  padding: 10px 0 5px 0;
  font-weight: 900;
  font-size: larger;
}

.upcoming-events .upev-carousel.wrap .upev-carousel-item .upev-item .upev-item-image .item-date .month-year {
  font-size: small;
  padding: 0 5px 5px 5px;
}

.upcoming-events .upev-carousel.wrap .upev-carousel-item .upev-item .upev-item-description .item-title {
  text-transform: uppercase;
  font-size: large;
}

.upcoming-events .upev-carousel.wrap .upev-carousel-item .upev-item .upev-item-description .item-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: small;
  color: #b9b9b9;
}

.upcoming-events .upev-carousel.wrap .upev-carousel-item .upev-item .upev-item-description .item-author > span {
  margin-right: 2rem;
}

.upcoming-events .upev-carousel.wrap .upev-carousel-item .upev-item .upev-item-description .item-detail {
  word-wrap: break-word;
  color: #7e7979;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (min-width: 768px) {
  .upcoming-events .upev-carousel {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .upcoming-events .upev-carousel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .upcoming-events .upev-carousel .upev-carousel-item {
    margin-bottom: 1rem;
    margin-right: 0rem;
  }
}
/*# sourceMappingURL=upcomming-event.css.map */